params {
    container__pandas = "quay.io/fhcrc-microbiome/python-pandas:0fd1e29"
    container__fgsea = "quay.io/biocontainers/bioconductor-fgsea:1.20.0--r41h399db7b_0"
    container__gseapy = "quay.io/biocontainers/gseapy:0.10.7--pyhdfd78af_0"
    
    rank_method = 'logfold-splitrank'
    output_dir = 'gsea'
    rank_file_name = 'rankings.csv'
    gene_column = 'gene_id'
    score_column = 'logFC'
    pval_col = 'pvalue'
}



profiles {
    standard {
        process {
            withLabel: io_limited {
                cpus = 1
                memory = 4.GB
            }
            withLabel: mem_medium {
                cpus = 4
                memory = 30.GB
            }
            withLabel: cpu_medium {
                cpus = 8
                memory = 15.GB
            }
            withLabel: cpu_verylarge {
                cpus = 36
                memory = 58.GB
            }
            errorStrategy = 'retry'
            maxRetries = 5
        }
    }
    docker {
        docker {
            enabled = true
            temp = 'auto'
        }
        process {
            withLabel: io_limited {
                cpus = 1
                memory = 1.GB
            }
            withLabel: mem_medium {
                cpus = 1
                memory = 1.GB
            }
            withLabel: cpu_medium {
                cpus = 1
                memory = 1.GB
            }
            withLabel: cpu_verylarge {
                cpus = 1
                memory = 1.GB
            }
            errorStrategy = 'retry'
            maxRetries = 5
            maxForks = 10
        }
    }
}

manifest {
    defaultBranch = 'main'
    homePage = 'https://github.com/FredHutch/pw-gene-set-enrichment'
    mainScript = 'main.nf'
    name = 'Gene Set Enrichment (PubWeb)'
    nextflowVersion = '>=21.04.0'
    version = '1.0'
}

